body {
margin: 0px;
font-family: Georgia, Minion, LucidaBright, Palatino, serif;
}
#mainnav {
background: rgb(233,238,249);
border: none;
border-bottom: 1px solid #d7d7d7;
 margin: .66em 0 .33em;
 padding: .2em 0;
 height: 10px;
margin-top: 0px;
}

/* Accommodate our login info at the bottom of the page */
#footer {
border-bottom: 1px solid;
padding-left: 10px;
padding-right: 10px;
}

#header
{
	color: #FFFFFF;
	height: 150px;
	background-color: #4D6384;
	background-image: url(header.jpg);
	background-position: right bottom;
}

#header h1 { margin: 0 0 0 -1000px; }

#main {
    padding: 10px; 
}   

#user {
    float: right;
    padding-right: 10px;
}    

/*
li
{
    display: block;
    float: left;
    margin: 0 1em 1em 0;
}
*/