body
{
    margin: 0 56px 2em 2em;
    font-family: Georgia, Minion, LucidaBright, Palatino, serif;
    background-color: #d1e9ff;
}

/* Accommodate our login info at the bottom of the page */
#footer {
border-bottom: 1px solid;
padding-left: 10px;
padding-right: 10px;
}

#header
{
	color: #fff;
	height: 150px;
	margin: 0 -56px 0 -2em;
	background-color: #4d6384;
	background-image: url(header.jpg);
	background-position: right bottom;
	border-bottom: 1px solid #253d5b;
}

#header h1 { margin: 0 0 0 -1000px; }

#main {
    padding: 10px; 
}   

#user {
    float: right;
    padding-right: 10px;
}    

/*
li
{
    display: block;
    float: left;
    margin: 0 1em 1em 0;
}
*/