<html>
 <head>
   <title>{% block title %}Untitled Page{% endblock %} &#x2014; OpenAerialMap</title>
   <link rel="stylesheet" href="/static/website.css" type="text/css" />
 </head>
 <body>
 <div id="header">
   <h1><a href="/">{% block heading %}OpenAerialMap{% endblock %}</a></h1>
 </div>
 <div id="mainnav" class="nav">
 <a href="/layer/">Browse Layers</a>
  {% if not user.is_anonymous %}
   <div id="user">Logged in as {{user}} | <a href="/accounts/logout/">Logout</a></div>
  {% else %}
    <div id="user"><a href="/accounts/login/">Login</a></div>
  {% endif %}

 </div>
 <div id="main">
 {% block content %}
 {% endblock %}
 </div>
 </body>
</html> 

