{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block extrahead %}
<script>
function start() { createMap("/api/image/?limit=100", document.getElementById("map") ); }
</script>
{% endblock %}
{% block onload %} onload="start();"{% endblock %}
{% block content %}
<div style="float: right; width: 200px;">
<h3>Recently Uploaded Images</h3>
  <ul>
  {% for image in images %}
    <li><a href="/image/{{image.id}}/">{{image.id}}</a></li>
  {% endfor %}
  </ul>
</div>
<div id="map" style="width: 512px; height: 500px;"></div>
{% endblock %}  
