{% extends "base.html" %}
{% block content %}
<div style="float:right">
{% if prev %} 
 <a href="/image/{{prev.id}}/">« {{prev.id}}</a>
{% endif %}
{% if prev and next %}
 |
{% endif %}
{% if next %}
 <a href="/image/{{next.id}}/">» {{next.id}}</a>
{% endif %} 
</div>
<ul>
 <li>URL: <a href="{{image.url}}">URL</a></li>
 <li>Image Size: {{image.width}} x {{image.height}}</li>
 <li>License: <a href="/license/{{image.license.id}}/">{{image.license.name}}</a></li>
 <li>BBOX: {{ image.bbox.extent }}</li>
</ul>
{% if image.layers.count %}
<h2>Layers</h2>
<ul>
{% for layer in image.layers.all %}
  <li><a href="/layer/{{layer.id}}">{{layer.name}}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
