{% extends "base.html" %}
{% block title %}{{layer.name}}{% endblock %}
{% block extrahead %}
<script>
function start() { createMap("/api/image/?layer={{layer.id}}&limit=500", document.getElementById("map") ); }
</script>
{% endblock %}
{% block onload %} onload="start();"{% endblock %}
{% block content %}
<style type="text/css">
    .ui-state-hover { background-color: #ffC }
    .inlineEdit-placeholder { font-style: italic; color: #555; }
    .editable_description textarea {
        width: 500px;
        height: 100px;
    }   
    .editable_title input {
        width: 500px;
    }    
</style>        
<script>
$(function(){
    $('.editable_title').inlineEdit({
        'save': function(e, data) {
            var id = {{layer.id}};
            var json = {'id': id, 'name': data.value};
            var url = '/api/layer/' + id + '/';
            var data = $.toJSON(json);
            jQuery.post(url, data);
        }
    });
    $('.editable_description').inlineEdit({
        'control': 'textarea',
        'save': function(e, data) {
            var id = {{layer.id}};
            var json = {'id': id, 'description': data.value};
            var url = '/api/layer/' + id + '/';
            var data = $.toJSON(json);
            jQuery.post(url, data);
        }
    });
});   
</script>    
<div style="float:right">
{% if prev %} 
 <a href="{{prev.get_absolute_url}}">« {{prev.id}}</a>
{% endif %}
{% if prev and next %}
 |
{% endif %}
{% if next %}
 <a href="{{next.get_absolute_url}}">» {{next.id}}</a>
{% endif %}
<br />
<div id="map" style="width: 400px; height: 400px;"></div>
</div>
<h2><span{% if not user.is_anonymous %} class="editable_title" {%endif %}>{{ layer.name }}</span></h2>
<p><span{% if not user.is_anonymous %} class="editable_description"{%endif %}>{{ layer.description }}</span></p>
<p>Total images: {{ layer.image_set.count }}</p>
<ul>
{% for i in image_ids %}
  <li><a href="/image/{{i.id}}">{{i.id}}</a></li>
{% endfor %}
</ul>
{% endblock %}  
